#Quitar cuando se suba a git
.env
*.json

# Archivos de configuración de entorno virtual
venv/
.venv/
env/

# Archivos de dependencias y lock
poetry.lock
Pipfile.lock

# Archivos temporales y de sistema
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
*.swp
*.swo
*.bak
*.tmp

# Archivos de logs
*.log

# Archivos de usuario y editor
.vscode/
.idea/
*.code-workspace

# Otros archivos a ignorar
*.pdf
*.sqlite3
